@charset 'utf-8'
// sass-lint:disable no-css-comments
// sass-lint:disable border-zero
// sass-lint:disable class-name-format
// sass-lint:disable property-sort-order
// sass-lint:disable no-ids
// sass-lint:disable force-element-nesting
// sass-lint:disable force-pseudo-nesting

.cpp_form
  .pbSubmit
    background: #5AA0B3
    color: #fff
    border-radius: 5px
    width: 200px
    text-align: center

  .pb0.pbreak
    .fields:first-of-type
      grid-row: 1 / 8


.cpp_form
  #fbuilder
    .pbreak.pb0
      display: grid
      grid-template-columns: 45% 50%
      grid-column-gap: 5%

.x-last
  .cpp_form #fbuilder
    .pbreak.pb0
      grid-template: 10% / 100%

.post-1619,
.post-1623
  .cpp_form
    .pb0.pbreak
      display: flex !important
      flex-direction: column
      flex-wrap: wrap

#fbuilder
  .uh
    line-height: 1.4em

  .large
    &[type='text']
      font-size: 16px
      padding-left: 1%
      letter-spacing: .7px

  .ui-datepicker-inline
    width: 100%
    max-width: 100% !important

  .slots,
  .ui-datepicker
    border: 0 solid #5AA0B3 !important
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3) !important
    margin-bottom: 20px

  .slots
    div
      display: inline-block
      border: 0 !important
      padding: 0 !important
      margin-right: 20px !important
      a
        padding: 3% 10% !important
        border: 0px solid #5AA0B3
        background-color: #CCEFFF !important
        border-radius: 5px

.ahb_list
  display: flex
  flex-direction: column
  position: relative
  background-color: #ffa
  margin: 2%
  padding: 5%
  
  span
    position: relative
    display: inline-block

  .cancel
    display: block 
    position: relative
    background-color: #f66
    margin: 4%
    padding: 1% 3%
    color: #fff
    width: 100px
    align-self: end

    &:after
      content:'\f00d'
      font-family: FontAwesome
      right: -10px
      position: relative


@media all and (max-width: 979px)
  .cpp_form
    #fbuilder
      .pbreak.pb0
        display: block



